/* Universal Selector */
* {
  font-size: 16px;
}
@font-face {
    font-family: 'Playfair';
    src: url('/resources/fonts/Playfair-VariableFont_opsz,wdth,wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Barlow';
    src: url('./resources/fonts/BarlowCondensed-Regular.ttf') format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: 'Barlow';
    src: url('./resources/fonts/BarlowCondensed-Bold.ttf') format("truetype");
    font-weight: 700;
}

body {
    box-sizing: border-box;
    background: url("../images/mountains.jpg"), hsla(33, 100%, 88%, 0.5);
    background-position: 20%;
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: none;
}

/* Navigation */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 100%;
    padding: 2rem 0;
    border-bottom: 3px solid white;
}

.logo {
    height: 7rem;
    width: auto;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-130%);
    }
    100% {
        transform: translateX(0);
    }
}

.alert {
    display: flex;
    background-color: hsla(275, 100%, 25%, 1);
    width: 14rem;
    height: auto;
    margin: 1rem 1rem -3rem 1rem;
    color: white;
    flex-wrap: wrap;
    border: 2px solid hsla(275, 100%, 25%, 1);
    border-radius: 10px;
    box-shadow: 0 0 4px 4px hsla(275, 100%, 25%, .5);
    animation: 2s linear slideInFromLeft;
}

.closeBtn {
    position: relative;
    left: 92%;
    top: .15rem;
}
.alert .inform {
    width: 100%;
    margin: 0.5rem .75rem 1rem .75rem;
    text-align: center;
    text-justify: center;;
}

.main {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    align-content: center;
    width: 65%;
}

.content {
    display: grid;
    position: relative;
    width: 100%;
    grid-template-areas: 
            "verse focus"
            "verse action"
            "button none";

    grid-template-columns: 18rem 18rem;
    grid-template-rows: 10rem 10rem;
    background-color: transparent;
    gap: 1rem;
    border: none;
    justify-content: center;
}

#button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    background-color: hsla(275, 100%, 25%, 1);
    color:azure;
    border: 2px solid hsla(275, 100%, 25%, 1);
    border-radius: 10px;
    box-shadow: 0 0 4px 4px hsla(275, 100%, 25%, .75);
    
}

#button:hover {
    cursor: pointer;
    background-color: hsla(275, 100%, 25%, .5);
}

#button:active {
    background-color: hsla(275, 100%, 25%, .5);
    cursor: pointer;
    box-shadow: none hsla(275, 100%, 25%, .5);
    border: none;
}

.shuffle-sign {
    width: 2rem;
    height: auto;
    align-self: center;
    color: white;
}

.box {
    background-color: hsla(275, 100%, 25%, 1);
    color:azure;
    border: 2px solid hsla(275, 100%, 25%, 1);
    border-radius: 10px;
    box-shadow: 0 0 4px 4px hsla(275, 100%, 25%, .5);
    padding: 1rem;
    line-height: 1.25rem;
    letter-spacing: .05rem;
}
.box h1 {
    font-family: 'Barlow';
    margin-bottom: 1rem;
    font-size: .75rem;
    background-color: none;
    text-decoration: underline;
}

.box p {
    font-family: 'Barlow';
    font-weight: 500;
}

.content .verse {
    grid-area: verse;
    padding:  1.5rem;
}

.content .focus {
    grid-area: focus;
    padding: 1.5rem;
}

.content .action {
    grid-area: action;
    padding: 1.5rem;
}


.footer {
    position: relative;
    padding: 2rem;
    width: 100%;
    bottom: 0;
    border-top: 4px solid white;
    color: black;
    font-weight: 500;
}